.todo{
    width: 600px;
    min-height: 732px;
     border-radius: 20px;
     background: #fff;
     margin:auto;
     margin-top: 170px;
     display: flex;
     flex-direction: column;
     padding:0px 44px;
     padding-bottom: 30px;
     margin-bottom: 100px;
}

.todo-header{
    margin-top: 84px;
    color:rgb(3, 3, 51) ;
    font-size: 36px;
    font-weight: 600;
    line-height: 36px;
    display: flex;
    justify-content: center;

}

.todo-add{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px; 
}
.todo-input{
    border-radius: 50px;
    background:rgb(231, 227, 227);
    border:none;
    outline: none;
    width:576px;
    height:80px;
    padding-left: 35px;
    font-size:20px;

}

.todo-add-btn{
    margin: 20px;
    width:187px;
    height:80px;
    background:rgb(214, 196, 30);
    border-radius: 50px;
    color:white;
    display: flex;
    align-items: center;  /*cross axis*/
    justify-content: center; /*main axis*/
    margin-left: -100px;
    font-size: 26px;
    font-weight: 600px;
    cursor: pointer;
}